/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "bootstrap-icons/font/bootstrap-icons.scss";
@import "bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: 'UmaMusumeFont';
  src: url('assets/UmaMusumeGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
