<div class="main-div">
  <mat-card class="center">
    <mat-card-header>
      <h1>{{ detail.name }}</h1>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-grid-list cols="10">
            <mat-grid-tile colspan="2">ログインID</mat-grid-tile>
            <mat-grid-tile colspan="8">{{ detail.loginId }}</mat-grid-tile>
          </mat-grid-list>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-grid-list cols="10">
            <mat-grid-tile colspan="2">システム管理権限</mat-grid-tile>
            <mat-grid-tile colspan="8">{{ detail.sysPermission | sysPermission }}</mat-grid-tile>
          </mat-grid-list>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-grid-list cols="10">
            <mat-grid-tile colspan="2">ウマ娘TRPG権限</mat-grid-tile>
            <mat-grid-tile colspan="8">{{ detail.umaMusumeTrpgPermission | umaMusumeTrpgPermission }}</mat-grid-tile>
          </mat-grid-list>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-grid-list cols="10">
            <mat-grid-tile colspan="2">メールアドレス</mat-grid-tile>
            <mat-grid-tile colspan="8">{{ detail.email }}</mat-grid-tile>
          </mat-grid-list>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-grid-list cols="10">
            <mat-grid-tile colspan="2">作成スレッド数</mat-grid-tile><!--:todo遷移先をスレッドのユーザーで検索した一覧にする-->
            <mat-grid-tile colspan="8"><a routerLink="/user/list">{{ detail.creationThreadCount | number }}件</a>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-grid-list cols="10">
            <mat-grid-tile colspan="2">総レス数</mat-grid-tile>
            <mat-grid-tile colspan="8">{{ detail.totalResCount | number }}レス</mat-grid-tile>
          </mat-grid-list>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-grid-list cols="10">
            <mat-grid-tile colspan="2">作成日時</mat-grid-tile>
            <mat-grid-tile colspan="8">{{ detail.creationTime | date:"yyyy年MM月dd日 HH:mm.ss" }}</mat-grid-tile>
          </mat-grid-list>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-grid-list cols="10">
            <mat-grid-tile colspan="2">更新日時</mat-grid-tile>
            <mat-grid-tile colspan="8">{{ detail.updateTime | date:"yyyy年MM月dd日 HH:mm.ss" }}</mat-grid-tile>
          </mat-grid-list>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="detail.isDeleted">
          <mat-grid-list cols="10">
            <mat-grid-tile colspan="2">削除日時</mat-grid-tile>
            <mat-grid-tile
              colspan="8">{{ detail.deletingTime  | date: "yyyy年MM月dd日 HH:mm.ss" }}
            </mat-grid-tile>
          </mat-grid-list>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="!detail.isDeleted">
          <mat-grid-list cols="10">
            <mat-grid-tile colspan="5">
              <button color="primary" mat-raised-button routerLink="/user/edit/{{detail.id}}">編集</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="5">
              <button color="warn" mat-raised-button routerLink="/user/delete/{{detail.id}}">削除</button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
