<div class="main-div">
  <mat-card class="center">
    <mat-card-header>
      <mat-card-title>ユーザー登録</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field class="center">
          <mat-label>ログインID</mat-label>
          <input [formControl]="entryForm.getForm('loginId')" id="loginId" matInput type="text"/>
          <mat-error *ngIf="entryForm.isRequired('loginId')">
            <i class="bi bi-exclamation-triangle"></i>必須です。
          </mat-error>
          <mat-error *ngIf="entryForm.isLoginIdDuplicate('loginId')">
            <i class="bi bi-exclamation-triangle"></i>重複しています。
          </mat-error>
        </mat-form-field>
        <mat-form-field class="center">
          <mat-label>名前</mat-label>
          <input [formControl]="entryForm.getForm('name')" id="name" matInput type="text"/>
          <mat-error *ngIf="entryForm.isRequired('name')">
            <i class="bi bi-exclamation-triangle"></i>必須です。
          </mat-error>
        </mat-form-field>
        <mat-form-field class="center">
          <mat-label>システム管理権限</mat-label>
          <mat-select [formControl]="entryForm.getForm('sysPermission')" id="sysPermission">
            <mat-option
              [value]="SysPermission.NoQualification">{{ SysPermission.NoQualification | sysPermission }}
            </mat-option>
            <mat-option [value]="SysPermission.SysAdmin">{{ SysPermission.SysAdmin | sysPermission }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="entryForm.isRequired('sysPermission')">
            <i class="bi bi-exclamation-triangle"></i>必須です。
          </mat-error>
        </mat-form-field>
        <mat-form-field class="center">
          <mat-label>ウマ娘TRPG権限</mat-label>
          <mat-select [formControl]="entryForm.getForm('umaMusumeTrpgPermission')" id="umaMusumeTrpgPermission">
            <mat-option
              [value]="UmaMusumeTrpgPermission.NoQualification">{{ UmaMusumeTrpgPermission.NoQualification | umaMusumeTrpgPermission }}
            </mat-option>
            <mat-option
              [value]="UmaMusumeTrpgPermission.Player">{{ UmaMusumeTrpgPermission.Player | umaMusumeTrpgPermission }}
            </mat-option>
            <mat-option
              [value]="UmaMusumeTrpgPermission.GmPlayer">{{ UmaMusumeTrpgPermission.GmPlayer | umaMusumeTrpgPermission }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="entryForm.isRequired('umaMusumeTrpgPermission')">
            <i class="bi bi-exclamation-triangle"></i>必須です。
          </mat-error>
        </mat-form-field>
        <mat-form-field class="center">
          <mat-label>メールアドレス</mat-label>
          <input [formControl]="entryForm.getForm('email')" id="email" matInput type="email"/>
          <mat-error *ngIf="entryForm.isRequired('email')">
            <i class="bi bi-exclamation-triangle"></i>必須です。
          </mat-error>
        </mat-form-field>
        <mat-form-field class="center">
          <mat-label>パスワード</mat-label>
          <input [formControl]="entryForm.getForm('password')" id="password" matInput type="password"/>
          <mat-error *ngIf="entryForm.isRequired('password')">
            <i class="bi bi-exclamation-triangle"></i>必須です。
          </mat-error>
        </mat-form-field>
        <mat-form-field class="center">
          <mat-label>パスワード確認</mat-label>
          <input [formControl]="entryForm.getForm('passwordCfm')" id="passwordCfm" matInput type="password"/>
          <mat-error *ngIf="entryForm.isRequired('passwordCfm')">
            <i class="bi bi-exclamation-triangle"></i>必須です。
          </mat-error>
          <mat-error *ngIf="entryForm.isPasswordMatch()">
            <i class="bi bi-exclamation-triangle"></i>パスワードが一致しません。
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="click()" color="primary" mat-raised-button>
        登録
      </button>
    </mat-card-actions>
  </mat-card>
</div>
