<div class="main-div">
  <mat-card class="login-card center">
    <mat-card-header>
      <mat-card-title class="login-title">ログイン</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()" [formGroup]="loginUser.getFormGroup()" class="login-form">
        <mat-form-field>
          <input formControlName="loginId" id="loginId" matInput placeholder="Login ID"/>
          <mat-error *ngIf="loginUser.isRequired('loginId')">
            <i class="bi bi-exclamation-triangle"></i>必須です。
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="password" id="password" matInput placeholder="Password" type="password"/>
          <mat-error *ngIf="loginUser.isRequired('password')">
            <i class="bi bi-exclamation-triangle"></i>必須です。
          </mat-error>
        </mat-form-field>
        <button [disabled]="loginUser.getFormGroup().invalid" color="primary" mat-raised-button type="submit">
          ログイン<i class="bi bi-door-open"></i>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
